* {
  box-sizing: border-box;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

body {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: beige;
}

.container {
  width: 400px;
  height: 400px;
  background-color: lavender;
}

.input {
  background-color: rgb(129, 129, 129);
  color: #fff;
  border-radius: 5px;
  text-align: right;
  width: 100%;
  height: 15%;
  padding: 5px;
}

.itemsContainer {
  display: flex;
  border-radius: 5px;
  flex-wrap: wrap;
}

.items {
  width: 100px;
  height: 68px;
  border: 0.5px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.longLength {
  width: 200px;
}

.orangeColor {
  background-color: #f5913e;
}

button:active {
  background-color: rgb(180, 184, 184);
}

h1 {
  margin-top: 20px;
  text-align: center;
}

.Home {
  margin: 50px;
}

.Home h3 {
  font-size: 25px;
}

.Home p {
  margin-top: 20px;
  font-size: 17px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavItems {
  justify-content: space-between;
  padding: 30px;
  background: rgb(51, 122, 185);
  color: #fff;
}

.NavItems h3 {
  font-size: 3rem;
}

.NavItems ul {
  display: flex;
}

.NavItems ul li {
  list-style: none;
  font-size: 17px;
  padding: 15px;
  border-right: 3px solid #fff;
}

.NavItems ul li a {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}
